In [516]:
import pandas as pd
import numpy as np
url = "https://storage.googleapis.com/deb-evaluation-materials/vehicles.csv"
df = pd.read_csv(url)
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [517]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [518]:
df.shape

(35952, 15)

In [ ]:
##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

In [519]:
df1 = df.groupby('Make')['Make'].agg('count')

In [520]:
df1

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Make, Length: 127, dtype: int64

In [521]:
df1.shape

(127,)

In [522]:
df2 = df[df.Make == 'Volkswagen']

In [523]:
df2.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34128,Volkswagen,Beetle,2012,2.0,4.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Premium,13.184400,22,30,25,355.480000,1600
34129,Volkswagen,Beetle,2012,2.5,5.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
34130,Volkswagen,Beetle,2012,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.733750,21,30,24,370.291667,1700
34131,Volkswagen,Beetle,2012,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,31,25,355.480000,1350
34132,Volkswagen,Beetle,2013,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Diesel,11.943281,28,41,32,313.000000,1150

In [524]:
df2.shape

(1047, 15)

In [525]:
avg_volkswagen_CO2_emmission = (df2['CO2 Emission Grams/Mile'].mean())

In [526]:
Q1 = avg_volkswagen_CO2_emmission

In [527]:
print(Q1)

392.74172108576107

In [529]:
df_make = df.groupby('Make')['Model'].agg(count='count').sort_values(by='count', ascending=False).head(5)
print(df_make)

           count
Make
Chevrolet   3643
Ford        2946
Dodge       2360
GMC         2347
Toyota      1836

In [530]:
df_make_list = df_make.values.tolist()
print(df_make_list)

[[3643], [2946], [2360], [2347], [1836]]

In [531]:
data = {'Make': ['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'],
        'count': [3643, 2946, 2360, 2347, 1836]}
df_Q2= pd.DataFrame(data)

# Convert each row to a list
Q2= df_Q2.values.tolist()

print(Q2)

[['Chevrolet', 3643], ['Ford', 2946], ['Dodge', 2360], ['GMC', 2347], ['Toyota', 1836]]

In [ ]:
##Q3. What are all the different types of fuels in the dataset sorted alphabetically?

In [532]:
df_fuel_type = df['Fuel Type'].unique()
Q3 = df_fuel_type.tolist()

In [533]:
print(Q3)

['Regular', 'Premium', 'Diesel', 'Premium and Electricity', 'Premium or E85', 'Premium Gas or Electricity', 'Gasoline or E85', 'Gasoline or natural gas', 'CNG', 'Regular Gas or Electricity', 'Midgrade', 'Regular Gas and Electricity', 'Gasoline or propane']

In [534]:
df_toyota = df[df.Make == 'Toyota']
df_toyota.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
32281,Toyota,1-Ton Truck 2WD,1985,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,20,23,21,423.190476,1600
32282,Toyota,1-Ton Truck 2WD,1985,2.4,4.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,19,24,21,423.190476,1600
32283,Toyota,1-Ton Truck 2WD,1986,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,20,23,21,423.190476,1600
32284,Toyota,1-Ton Truck 2WD,1986,2.4,4.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,14.330870,21,26,23,386.391304,1450
32285,Toyota,1-Ton Truck 2WD,1987,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,15.695714,20,23,21,423.190476,1600

In [535]:
df_toyota_fuel_barrier = df_toyota.sort_values('Fuel Barrels/Year', ascending=False)
df_toyota_fuel = df_toyota_fuel_barrier.head(9)
df_toyota_fuel

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
32479,Toyota,Cab/Chassis 2WD,1992,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicles,Regular,32.961000,10,10,10,888.700000,3350
32473,Toyota,Cab/Chassis 2WD,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350
32481,Toyota,Cab/Chassis 2WD,1993,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicles,Regular,32.961000,10,10,10,888.700000,3350
32475,Toyota,Cab/Chassis 2WD,1990,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,10,10,888.700000,3350
32477,Toyota,Cab/Chassis 2WD,1991,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicles,Regular,32.961000,10,10,10,888.700000,3350
33102,Toyota,Land Cruiser Wagon 4WD,1984,4.2,6.0,Manual 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicle 4WD,Regular,29.964545,10,12,11,807.909091,3050
33103,Toyota,Land Cruiser Wagon 4WD,1985,4.2,6.0,Manual 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,29.964545,10,12,11,807.909091,3050
33104,Toyota,Land Cruiser Wagon 4WD,1986,4.2,6.0,Manual 4-spd,4-Wheel Drive,Special Purpose Vehicles,Regular,29.964545,10,12,11,807.909091,3050
33105,Toyota,Land Cruiser Wagon 4WD,1987,4.2,6.0,Manual 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,29.964545,10,12,11,807.909091,3050

In [536]:
df_fuel_barrier = df_toyota_fuel.drop(['Make', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'City MPG', 'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
print(df_fuel_barrier)

                        Model  Year  Fuel Barrels/Year
32479         Cab/Chassis 2WD  1992          32.961000
32473         Cab/Chassis 2WD  1989          32.961000
32481         Cab/Chassis 2WD  1993          32.961000
32475         Cab/Chassis 2WD  1990          32.961000
32477         Cab/Chassis 2WD  1991          32.961000
33102  Land Cruiser Wagon 4WD  1984          29.964545
33103  Land Cruiser Wagon 4WD  1985          29.964545
33104  Land Cruiser Wagon 4WD  1986          29.964545
33105  Land Cruiser Wagon 4WD  1987          29.964545

In [537]:
df_clc = df_fuel_barrier.drop(['Model', 'Year'],axis='columns')
print(df_clc)

       Fuel Barrels/Year
32479          32.961000
32473          32.961000
32481          32.961000
32475          32.961000
32477          32.961000
33102          29.964545
33103          29.964545
33104          29.964545
33105          29.964545

In [538]:
import scipy.stats as stats

In [539]:
df_z = stats.zscore(df_clc)
print(df_z)

       Fuel Barrels/Year
32479           0.894427
32473           0.894427
32481           0.894427
32475           0.894427
32477           0.894427
33102          -1.118034
33103          -1.118034
33104          -1.118034
33105          -1.118034

In [540]:
df_z.rename(columns = {'Fuel Barrels/Year':'Z_score'}, inplace = True)
print(df_z)

        Z_score
32479  0.894427
32473  0.894427
32481  0.894427
32475  0.894427
32477  0.894427
33102 -1.118034
33103 -1.118034
33104 -1.118034
33105 -1.118034

In [541]:
df_std = pd.concat([df_fuel_barrier,df_z],axis='columns')
print(df_std)

                        Model  Year  Fuel Barrels/Year   Z_score
32479         Cab/Chassis 2WD  1992          32.961000  0.894427
32473         Cab/Chassis 2WD  1989          32.961000  0.894427
32481         Cab/Chassis 2WD  1993          32.961000  0.894427
32475         Cab/Chassis 2WD  1990          32.961000  0.894427
32477         Cab/Chassis 2WD  1991          32.961000  0.894427
33102  Land Cruiser Wagon 4WD  1984          29.964545 -1.118034
33103  Land Cruiser Wagon 4WD  1985          29.964545 -1.118034
33104  Land Cruiser Wagon 4WD  1986          29.964545 -1.118034
33105  Land Cruiser Wagon 4WD  1987          29.964545 -1.118034

In [542]:
df7 = df_std.drop(['Fuel Barrels/Year'],axis='columns')
print(df7)

                        Model  Year   Z_score
32479         Cab/Chassis 2WD  1992  0.894427
32473         Cab/Chassis 2WD  1989  0.894427
32481         Cab/Chassis 2WD  1993  0.894427
32475         Cab/Chassis 2WD  1990  0.894427
32477         Cab/Chassis 2WD  1991  0.894427
33102  Land Cruiser Wagon 4WD  1984 -1.118034
33103  Land Cruiser Wagon 4WD  1985 -1.118034
33104  Land Cruiser Wagon 4WD  1986 -1.118034
33105  Land Cruiser Wagon 4WD  1987 -1.118034

In [543]:
Q4 =[df7.values.tolist()]
print(Q4)

[[['Cab/Chassis 2WD', 1992, 0.894427190999919], ['Cab/Chassis 2WD', 1989, 0.894427190999919], ['Cab/Chassis 2WD', 1993, 0.894427190999919], ['Cab/Chassis 2WD', 1990, 0.894427190999919], ['Cab/Chassis 2WD', 1991, 0.894427190999919], ['Land Cruiser Wagon 4WD', 1984, -1.1180339887498916], ['Land Cruiser Wagon 4WD', 1985, -1.1180339887498916], ['Land Cruiser Wagon 4WD', 1986, -1.1180339887498916], ['Land Cruiser Wagon 4WD', 1987, -1.1180339887498916]]]

In [544]:
df_golf = df[(df['Make'] == 'Volkswagen') & (df['Model'] == 'Golf') & (df['Transmission'] == 'Manual 5-spd') & (df['Fuel Type'] == 'Regular')]
df_golf.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34369,Volkswagen,Golf,1986,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34372,Volkswagen,Golf,1987,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34374,Volkswagen,Golf,1988,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,30,25,355.480000,1350
34377,Volkswagen,Golf,1989,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,31,25,355.480000,1350
34379,Volkswagen,Golf,1999,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400

In [545]:
df_golf_combined_mpg = df_golf.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
print(df_golf_combined_mpg)

       Year  Combined MPG
34369  1986            26
34372  1987            26
34374  1988            25
34377  1989            25
34379  1999            24
34385  2000            24
34391  2001            24
34395  2002            24
34399  2003            24
34403  2004            24
34407  2005            24
34411  2006            24
34412  2010            25
34417  2011            26
34421  2012            26
34427  2013            26
34431  2015            30
34436  2016            30
34438  2017            29

In [546]:
df_golf_combined_mpg['Combined_MPG_difference'] = df_golf_combined_mpg['Combined MPG'].diff()
df_golf_combined_mpg.head()

       Year  Combined MPG  Combined_MPG_difference
34369  1986            26                      NaN
34372  1987            26                      0.0
34374  1988            25                     -1.0
34377  1989            25                      0.0
34379  1999            24                     -1.0

In [547]:
Q5= df_golf_combined_mpg.fillna(0)
print(Q5)

       Year  Combined MPG  Combined_MPG_difference
34369  1986            26                      0.0
34372  1987            26                      0.0
34374  1988            25                     -1.0
34377  1989            25                      0.0
34379  1999            24                     -1.0
34385  2000            24                      0.0
34391  2001            24                      0.0
34395  2002            24                      0.0
34399  2003            24                      0.0
34403  2004            24                      0.0
34407  2005            24                      0.0
34411  2006            24                      0.0
34412  2010            25                      1.0
34417  2011            26                      1.0
34421  2012            26                      0.0
34427  2013            26                      0.0
34431  2015            30                      4.0
34436  2016            30                      0.0
34438  2017            29                     -1.0

In [548]:
print([Q5.values.tolist()])

[[[1986.0, 26.0, 0.0], [1987.0, 26.0, 0.0], [1988.0, 25.0, -1.0], [1989.0, 25.0, 0.0], [1999.0, 24.0, -1.0], [2000.0, 24.0, 0.0], [2001.0, 24.0, 0.0], [2002.0, 24.0, 0.0], [2003.0, 24.0, 0.0], [2004.0, 24.0, 0.0], [2005.0, 24.0, 0.0], [2006.0, 24.0, 0.0], [2010.0, 25.0, 1.0], [2011.0, 26.0, 1.0], [2012.0, 26.0, 0.0], [2013.0, 26.0, 0.0], [2015.0, 30.0, 4.0], [2016.0, 30.0, 0.0], [2017.0, 29.0, -1.0]]]

In [549]:
df_toyota_CO2 = df_toyota.sort_values('CO2 Emission Grams/Mile')
df_toyota_minCO2 = df_toyota_CO2.head(5)
df_toyota_5minCO2 = df_toyota_minCO2.drop(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'Fuel Cost/Year'],axis='columns')
print(df_toyota_5minCO2)

       CO2 Emission Grams/Mile
33284                    133.0
33283                    133.0
33282                    133.0
33281                    133.0
33280                    158.0

In [550]:
my_list = df_toyota_5minCO2.values.tolist()
print(my_list)

[[133.0], [133.0], [133.0], [133.0], [158.0]]

In [551]:
flattened_list_toyota = [item for sublist in my_list for item in sublist]

print(flattened_list_toyota)

[133.0, 133.0, 133.0, 133.0, 158.0]

In [552]:
flattened_list_toyota = [133.0, 133.0, 133.0, 133.0, 158.0]
brand = "Toyota"

# Insert the string at the beginning of the list
flattened_list_toyota.insert(0, brand)

print(flattened_list_toyota)

['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0]

In [553]:
flattened_list_toyota = [133.0, 133.0, 133.0, 133.0, 158.0]
brand = "Toyota"

# Insert the string at the beginning of the list
flattened_list_toyota.insert(0, brand)

print(flattened_list_toyota)

['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0]

In [554]:
df_ford = df[df.Make == 'Ford']
df_ford.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [555]:
df_ford_CO2 = df_ford.sort_values('CO2 Emission Grams/Mile')
df_ford_minCO2 = df_ford_CO2.head(5)
df_ford_5minCO2 = df_ford_minCO2.drop(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'Fuel Cost/Year'],axis='columns')
print(df_ford_5minCO2)

       CO2 Emission Grams/Mile
13412                    112.0
13411                    129.0
13410                    129.0
13409                    129.0
13408                    129.0

In [556]:
my_ford_list = df_ford_5minCO2.values.tolist()
print(my_ford_list)

[[112.0], [129.0], [129.0], [129.0], [129.0]]

In [557]:
flattened_list_ford = [item for sublist in my_ford_list for item in sublist]
print(flattened_list_ford)

[112.0, 129.0, 129.0, 129.0, 129.0]

In [558]:
brand2 = "Ford"

# Insert the string at the beginning of the list
flattened_list_ford.insert(0, brand2)

print(flattened_list_ford)

['Ford', 112.0, 129.0, 129.0, 129.0, 129.0]

In [559]:
df_volkswagen = df[df.Make == 'Volkswagen']
df_volkswagen.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34128,Volkswagen,Beetle,2012,2.0,4.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Premium,13.184400,22,30,25,355.480000,1600
34129,Volkswagen,Beetle,2012,2.5,5.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
34130,Volkswagen,Beetle,2012,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.733750,21,30,24,370.291667,1700
34131,Volkswagen,Beetle,2012,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,31,25,355.480000,1350
34132,Volkswagen,Beetle,2013,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Diesel,11.943281,28,41,32,313.000000,1150

In [560]:
df_volkswagen_CO2 = df_volkswagen.sort_values('CO2 Emission Grams/Mile')
df_volkswagen_minCO2 = df_volkswagen_CO2.head(5)
df_volkswagen_5minCO2 = df_volkswagen_minCO2.drop(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'Fuel Cost/Year'],axis='columns')
print(df_volkswagen_5minCO2)

       CO2 Emission Grams/Mile
34667               200.000000
34664               200.000000
34665               200.000000
34666               200.000000
34720               261.025641

In [561]:
my_volkswagen_list = df_volkswagen_5minCO2.values.tolist()
print(my_volkswagen_list)

[[200.0], [200.0], [200.0], [200.0], [261.025641025641]]

In [562]:
flattened_list_volkswagen= [item for sublist in my_volkswagen_list for item in sublist]
brand2 = "Volkswagen"
flattened_list_volkswagen.insert(0, brand2)

print(flattened_list_volkswagen)

['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641]

In [563]:
df_nissan = df[df.Make == 'Nissan']
df_nissan.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
26035,Nissan,200SX,1985,1.8,4.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Regular,14.982273,19,26,22,403.954545,1500
26036,Nissan,200SX,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Regular,14.982273,19,25,22,403.954545,1500
26037,Nissan,200SX,1985,1.8,4.0,Automatic 4-spd,Rear-Wheel Drive,Subcompact Cars,Regular,16.480500,18,24,20,444.350000,1650
26038,Nissan,200SX,1985,1.8,4.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Regular,15.695714,19,24,21,423.190476,1600
26039,Nissan,200SX,1985,2.0,4.0,Automatic 4-spd,Rear-Wheel Drive,Subcompact Cars,Regular,15.695714,19,26,21,423.190476,1600

In [564]:
df_nissan_CO2 = df_nissan.sort_values('CO2 Emission Grams/Mile')
df_nissan_minCO2 = df_nissan_CO2.head(5)
df_nissan_5minCO2 = df_nissan_minCO2.drop(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'Fuel Cost/Year'],axis='columns')
print(df_nissan_5minCO2)

       CO2 Emission Grams/Mile
27201                    249.0
27198                    254.0
26830                    254.5
26835                    254.5
26832                    254.5

In [565]:
my_nissan_list = df_nissan_5minCO2.values.tolist()
print(my_nissan_list)

[[249.0], [254.0], [254.5], [254.5], [254.5]]

In [566]:
flattened_list_nissan= [item for sublist in my_nissan_list for item in sublist]
brand3 = "Nissan"
flattened_list_nissan.insert(0, brand3)

print(flattened_list_nissan)

['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5]

In [567]:
df_honda = df[df.Make == 'Honda']
df_honda.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
16891,Honda,Accord,1985,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,27,24,370.291667,1400
16892,Honda,Accord,1985,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,27,24,370.291667,1400
16893,Honda,Accord,1985,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
16894,Honda,Accord,1985,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,21,24,22,403.954545,1500
16895,Honda,Accord,1985,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,28,24,370.291667,1400

In [568]:
df_honda_CO2 = df_honda.sort_values('CO2 Emission Grams/Mile')
df_honda_minCO2 = df_honda_CO2.head(5)
df_honda_5minCO2 = df_honda_minCO2.drop(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'Fuel Cost/Year'],axis='columns')
print(df_honda_5minCO2)

       CO2 Emission Grams/Mile
17059               130.000000
17528               167.679245
17526               167.679245
17524               167.679245
17522               167.679245

In [569]:
my_honda_list = df_honda_5minCO2.values.tolist()
print(my_honda_list)

[[130.0], [167.67924528301887], [167.67924528301887], [167.67924528301887], [167.67924528301887]]

In [570]:
flattened_list_honda= [item for sublist in my_honda_list for item in sublist]
brand4 = "Honda"
flattened_list_honda.insert(0, brand4)

print(flattened_list_honda)

['Honda', 130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887]

In [571]:
Q6= [flattened_list_toyota] + [flattened_list_ford] + [flattened_list_volkswagen] + [flattened_list_nissan] + [flattened_list_honda]

print(Q6)

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0], ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0], ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641], ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5], ['Honda', 130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887]]

In [572]:
df_mpg = df[df['Year'].between(1984, 1988)]
df_mpg_1984_1988 =df_mpg.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
df_mpg_1984_1988.head()

   Year  Combined MPG
0  1984            17
1  1984            13
2  1985            16
3  1985            13
4  1987            16

In [573]:
mid_1984_1988 = df_mpg_1984_1988['Combined MPG'].median()
print(mid_1984_1988)

19.0

In [574]:
l1 =[(1984, 1988),mid_1984_1988 ]
print(l1)

[(1984, 1988), 19.0]

In [575]:
df_mpg2 = df[df['Year'].between(1989, 1993)]
df_mpg_1989_1993 =df_mpg2.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
df_mpg_1989_1993.tail()

       Year  Combined MPG
35923  1992            11
35926  1990            23
35927  1990            25
35929  1989            26
35930  1989            25

In [576]:
mid_1989_1993 = df_mpg_1989_1993['Combined MPG'].median()
print(mid_1989_1993)

18.0

In [577]:
l2=[(1989, 1993),mid_1989_1993 ]
print(l2)

[(1989, 1993), 18.0]

In [578]:
df_mpg3 = df[df['Year'].between(1994, 1998)]
df_mpg_1994_1998 =df_mpg3.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
df_mpg_1994_1998.tail()

       Year  Combined MPG
35728  1998            19
35729  1998            21
35730  1998            20
35731  1998            21
35791  1998            18

In [579]:
mid_1994_1998 = df_mpg_1994_1998['Combined MPG'].median()
print(mid_1994_1998)

19.0

In [580]:
l3=[(1994, 1998),mid_1984_1988 ]
print(l3)

[(1994, 1998), 19.0]

In [581]:
df_mpg4 = df[df['Year'].between(1999, 2003)]
df_mpg_1999_2003 =df_mpg4.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
df_mpg_1999_2003.tail()

       Year  Combined MPG
35790  2002            20
35796  2003            19
35806  2003            18
35807  2003            16
35824  2003            18

In [582]:
mid_1999_2003 = df_mpg_1999_2003['Combined MPG'].median()
print(mid_1999_2003)

19.0

In [583]:
l4=[(1999, 2003),mid_1999_2003]
print(l4)

[(1999, 2003), 19.0]

In [584]:
df_mpg4 = df[df['Year'].between(2004, 2008)]
df_mpg_2004_2008 =df_mpg4.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
df_mpg_2004_2008.tail()

       Year  Combined MPG
35828  2007            18
35829  2007            17
35830  2008            16
35940  2008            36
35942  2008            36

In [585]:
mid_2004_2008 = df_mpg_2004_2008['Combined MPG'].median()
print(mid_2004_2008)

19.0

In [586]:
l5=[(2004, 2008),mid_2004_2008]
print(l5)

[(2004, 2008), 19.0]

In [587]:
df_mpg5 = df[df['Year'].between(2009, 2013)]
df_mpg_2009_2013 =df_mpg5.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
df_mpg_2009_2013.tail()

       Year  Combined MPG
35943  2009            36
35944  2010            36
35945  2011            36
35946  2012            36
35947  2013            36

In [588]:
mid_2009_2013 = df_mpg_2009_2013['Combined MPG'].median()
print(mid_2009_2013)

21.0

In [589]:
l6=[(2009, 2013),mid_2009_2013]
print(l6)

[(2009, 2013), 21.0]

In [590]:
df_mpg6 = df[df['Year'].between(2014, 2018)]
df_mpg_2014_2018 =df_mpg6.drop(['Make', 'Model', 'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],axis='columns')
df_mpg_2014_2018.tail()

       Year  Combined MPG
35939  2017            34
35948  2014            36
35949  2015            36
35950  2016            36
35951  2016            35

In [591]:
mid_2014_2018 = df_mpg_2014_2018['Combined MPG'].median()
print(mid_2014_2018)

22.0

In [592]:
l7=[(2014, 2018),mid_2014_2018]
print(l7)

[(2014, 2018), 22.0]

In [593]:
Q7= [l1] + [l2] + [l3] + [l4] + [l5] + [l6] + [l7]

print(Q7)

[[(1984, 1988), 19.0], [(1989, 1993), 18.0], [(1994, 1998), 19.0], [(1999, 2003), 19.0], [(2004, 2008), 19.0], [(2009, 2013), 21.0], [(2014, 2018), 22.0]]